<ion-view title="Cambio de Contraseña" >
    <ion-content padding="true" class="has-header">
        <form>

            <ion-list>
                <div class="col"></div>
                <label class="item item-input">
                    <span class="input-label">Nueva Contraseña</span>
                    <input type="text" placeholder="..." ng-model="data.password1">
                </label>
                <label class="item item-input">
                    <span class="input-label">Confirmar Nueva Contraseña</span>
                    <input type="text" placeholder="..." ng-model="data.password2">
                </label>
            </ion-list>

            <button class="button button-assertive button-block" ng-click="cambiarContrasena()">Confirmar Cambio</button>

            <div class="col"></div>

            <button class="button button-stable icon-left ion-chevron-left button-block" ng-click="regresar()">Regresar</button>

        </form>
    </ion-content>
</ion-view>