<ion-view title="Recuperación de Contraseña" >
    <ion-content padding="true" class="has-header">
        <form>
            <ion-list>

                <div class="col"></div>
                <label class="item item-input">
                    <span class="input-label">Ingresa tu correo</span>
                    <input type="email" placeholder="Correo" ng-model="data.username">
                </label>
            

                <button class="button button-positive button-block" ng-click="recuperarContrasena()">Recuperar Contraseña</button>

                <div class="col"></div>

                <button class="button button-stable icon-left ion-chevron-left button-block" ng-click="regresar()">Regresar</button>

            </ion-list>
        </form>
    </ion-content>
</ion-view>