<ion-view view-title="Eventos" cache-view = "false">
  <ion-content class="padding">
    <ion-slide-box >
      <ion-slide>
        <h3>Invitaciones</h3>
        <ion-list>
          <ion-item class = "item-text-wrap item-remove-animate item-avatar item-icon-right" ng-repeat="evento in eventosInvitados" href = "#/tab/events/{{evento.codigo_evento}}-0">
            <p>Evento: {{evento.nombre}}</p>
            <p>Fecha : {{getStringFecha(evento.fecha_hora)}}</p>
            <p>Hora :  {{getStringHora(evento.fecha_hora)}}</p>
            <ion-option-button class="button-assertive" ng-click="eliminarInvitacion(evento.codigo_evento)">
              <h5>Eliminar</h5>
            </ion-option-button>
          </ion-item>
        </ion-list>
        <ion-item class = "item-text-wrap">No se encontraron más elementos para mostrar</ion-item>
        <ion-item class = "item-borderless item-text-wrap"></ion-item>
      </ion-slide>
      <ion-slide>
        <h3>Eventos que asistiré</h3>
        <ion-list>
          <ion-item class = "item-text-wrap item-remove-animate item-avatar item-icon-right" ng-repeat="evento in eventosAAsistir" href = "#/tab/events/{{evento.codigo_evento}}-1">
            <p>Evento: {{evento.nombre}}</p>
            <p>Fecha : {{getStringFecha(evento.fecha_hora)}}</p>
            <p>Hora :  {{getStringHora(evento.fecha_hora)}}</p>
            <ion-option-button class="button-assertive" ng-click="eliminarConfirmacion(evento.codigo_evento)">
              <h5>Cancelar</h5>
            </ion-option-button>
          </ion-item>
        </ion-list>
        <ion-item class = "item-text-wrap">No se encontraron más elementos para mostrar</ion-item>
        <ion-item class = "item-borderless item-text-wrap"></ion-item>
      </ion-slide>
       <ion-slide>
        <h3>Eventos finalizados</h3>
        <ion-list>
          <ion-item class = "item-text-wrap item-remove-animate item-avatar item-icon-right" ng-repeat="evento in eventosFinalizados" ng-click = "">
            <p>Evento: {{evento.nombre}}</p>
            <p>Fecha : {{getStringFecha(evento.fecha_hora)}}</p>
            <p>Hora :  {{getStringHora(evento.fecha_hora)}}</p>
            <ion-option-button class="button-assertive" ng-click="">
              <h5>Eliminar</h5>
            </ion-option-button>
          </ion-item>
        </ion-list>
        <ion-item class = "item-text-wrap">No se encontraron más elementos para mostrar</ion-item>
        <ion-item class = "item-borderless item-text-wrap"></ion-item>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
