<ion-view view-title="Evento" cache-view="false">
  <ion-content>
    <ion-list>

    
    <!--####### Nombre del evento -->

  
    <div class="row">
	  <div class="col">
				<center><h3 class="title">{{evento.nombre}}</h3></center>
	  </div>
	</div>




	<!--####### INFORMACION GENERAL DEL EVENTO -->
	
	<div class="item item-divider color-grisMedio">
    	<center>Información General</center>
  	</div>

	<div class="row">
		<div class="col">
			<h5 class="subtitle">Descripción: </h5>
			<h6 class="subtitle">{{evento.descripcion}}</h6>
		</div>
	</div>


	<div class="row">
		<div class="col">
			<h5 class="subtitle">Fecha: </h5>
			<h6 class="subtitle">{{getStringFecha(evento.fecha_hora)}}</h6>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<h5 class="subtitle">Hora: </h5>
			<h6 class="subtitle">{{getStringHora(evento.fecha_hora)}}</h6>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<h5 class="subtitle">Lugar: </h5>
			<h6 class="subtitle">{{evento.lugar}}</h6>
		</div>
	</div>


	<!--####### Detalles del evento -->
	
	<div class="item item-divider color-grisMedio">
    	<center>Detalles</center>
  	</div>

	<div class="row">
		<div class="col">
			<h5 class="subtitle">Número Máximo de Acompañantes: </h5>
			<h6 class="subtitle">{{evento.numero_maximo_acompanantes}}</h6>
		</div>
	</div>


	<div class="row">
		<div class="col">
			<h5 class="subtitle">Tipo de Evento: </h5>
			<h6 class="subtitle">{{tipo_evento.descripcion}}</h6>
		</div>
	</div>


	<label class="item item-input item-select" ng-repeat="acompananteUsuario in AcompanantesUsuarioList">
	    <div class="input-label">
	      {{acompananteUsuario.descripcion}}
	    </div>
	    <select ng-model = "gradoAcademico" ng-change = "changeSelectGradosAcademicos(gradoAcademico)">
	      <option ng-repeat="numero in acompananteUsuario.numero_acompanantes" value = "{{numero}}" >{{numero}}</option>
	    </select>
   	</label>


	
	
	 <br>

	 <center><button class="button button-positive" ng-click="verDocumentos()" >Ver documentos</button></center>

	 <br>


	 <!--####### CONFIRMACION CONFIRMACION #########-->
	
	<div class="item item-divider color-grisMedio" ng-show="confirmado">
    	<center>Confirmacion</center>
  	</div>


	<label class="item item-input item-select" ng-repeat="acompanante in acompanantes" ng-show="confirmado">
	    <div class="input-label">
	      {{acompanante[1].descripcion}}
	    </div>
	    <select ng-model = "numberSelect" ng-change = "changeSelectAcompanantes(numberSelect  ,acompanante)" ng-show="confirmado">
	    	<option ng-repeat="i in getNumber(number)" value = "{{i}}" >{{i}}</option>
		</select>
	</label>




	
	<br>
	 <center>
	 	<button class="button button-positive" ng-click="confirmarAsistencia()" ng-show="confirmado">
	 		Confirmar asistencia
	 	</button>
	 </center>




	 
 <!--####### COMENTARIOS COMENTARIOS COMENTARIOS -->

	<div class="col"></div>
	<div class="col"></div>
	<div class="item item-divider color-grisMedio">
    	<center>Comentarios</center>
  	</div>



  	<div class="row">
		<div class="col col-80">
			<label class="item item-input">
				<textarea placeholder="Commentario" ng-model="data.commentario">
				</textarea>
			</label>
		</div>
	  	<div class="col">
	  		<button class="button button-stable" ng-click = "sendComment()">
	  			<i class="icon ion-paper-airplane color-verde"></i>
	  		</button>
	  	</div>
	</div>



  	<div class="card" ng-repeat="comentario in listaComentarios"> 
	  <div class="item item-divider calm">
	    {{comentario[0].nombre + ' ' + comentario[0].apellidos}}
	  </div>
	  <div class="item item-text-wrap">
	    {{comentario[1]}}
	  </div>
	</div>




    </ion-list>
  </ion-content>
</ion-view>
	