/* Empty. Add your own CSS if you like */
.color-rojo {
  color : #CC0033;
}

.color-grisMedio {
  color: : #585858;
}

.color-grisClaro {
  color: : #B0B0B0;
}

.color-azul {
  color : #0066CC;
}

.color-verde {
  color : #33CC33;
}